<div id="intro-page">
    <img id="intro-picture" src="/images/fruits.jpg" alt="collage of fruits and veggies">
    <div id="intro-box">
        <h1 id="intro-title">FOR A HEALTHIER BERLIN!</h1>
        <h2 id="intro-subtitle">Take a look at our petition <a id="intro-link" href="/register">here</a></h2>
    </div>
</div>
<div id="intro-line-1"></div>
<div id="intro-line-2"></div>