<div id="login-page">
    <img id="login-picture" src="/images/carrots.jpg" alt="a hand holding a bunch of carrots">


<p id="login-title">Please log in</p>

<p id="loginError">{{message}}</p>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - first, last, email, password -->

<div id="login-form">
    <form method="post">
                <label id ="login-label-email" for="loginEmail">Email</label>
                <input type="text" id="loginEmail" name="loginEmail" />

                <label id ="login-label-password" for="loginPassword">Password</label>
                <input type="text" id="loginPassword" name="loginPassword" />

                <input id="login-submit" type="submit" value="submit" />
    </form>
    <a id="register-link" href="/register">or if you are not registered yet, please do it here</a>
</div>

<footer id="footer-LB">LB 2022</footer>
<footer id="footer-photo">all images courtesy of Tangerine Newt</footer>