<div id="petition-page">
    <img id="petition-picture" src="/images/carrots.jpg" alt="a hand holding a bunch of carrots">

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - first and last name -->

<h1 id="petition-title">WHAT WE BELIEVE</h1>
<p id="petition-argument">We believe that healthy food should be more affordable. Everyone should hace access to fruits, veggies and legumes! That's why we ask for lower taxes for this items, for a healthier and happier population in our city.  </p>


<p id="error">{{message}}</p>

<div id="petition-form">
    <form method="post" autocomplete="off">

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - canvas and hidden field -->
        <div id="form-signature">  
            <canvas id="canvas" width="600" height="200"></canvas>

            <label for="signature"></label>
            <p id ="label-signature">Please sign our petition</p>
            <input type="text" id="signature" name="signature" />
        </div>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - submit button -->

        <input id="submit" type="submit" value="submit" />
    </form>
</div>
</div>

{{!-- <footer id="footer-LB">LB 2022</footer>
<footer id="footer-photo">all images courtesy of Tangerine Newt</footer> --}}