<div id="petition-page">
    <img id="petition-picture" src="/images/carrots.jpg" alt="a hand holding a bunch of carrots">

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - first and last name -->

<h1 id="petition-title">WHAT WE BELIEVE</h1>
<p id="petition-argument">We believe that healthy food should be more affordable. Everyone should hace access to fruits, veggies and legumes! That's why we ask for lower taxes for this items, for a healthier and happier population in our city.  </p>


<p id="error">{{message}}</p>

<div id="petition-form">
    <form method="post">
        <div id="form-info">
            <div id="form-first">
                <label id ="label-first" for="first">First Name</label>
                <input type="text" id="first" name="first" />
            </div>
            <div id="form-last">
                <label id ="label-last" for="last">Last Name</label>
                <input type="text" id="last" name="last" />
            </div>
        </div>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - canvas and hidden field -->
        <div id="form-signature">  
            <canvas id="canvas" width="600" height="200"></canvas>

            <label for="signature"></label>
            <p id ="label-signature">And your signature</p>
            <input type="text" id="signature" name="signature" />
        </div>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - submit button -->

        <input id="submit" type="submit" value="submit" />
    </form>
    {{!-- <div id="petition-line-1"></div>
    <div id="petition-line-2"></div>
    <div id="petition-line-3"></div> --}}
</div>
</div>

<footer id="footer-LB">LB 2022</footer>
<footer id="footer-photo">all images courtesy of Tangerine Newt</footer>