<div id="profile-page">
    <img id="profile-picture" src="/images/veggies_03.jpg" alt="a few vegetables exploding in the air, artistically">


<p id="profile-title">Thanks for joining!</p>
<p id="profile-argument">We would like to know a little bit more about you. <br>But you can also skip this step if you prefer </p>


<p id="profileError">{{message}}</p>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - first, last, email, password -->

<div id="profile-form">
    <form method="post" autocomplete="off">
                <label id ="profile-label-age" for="profileAge">Age</label>
                <input type="number" id="profileAge" name="profileAge" />

                <label id ="profile-label-city" for="profileCity">City</label>
                <input type="text" id="profileCity" name="profileCity" />

                <label id ="profile-label-homepage" for="profileHomepage">Homepage</label>
                <input type="url" id="profileHomepage" name="profileHomepage" />

                <input id="profile-submit" type="submit" value="submit / skip" />
    </form>

</div>

{{!-- <footer id="footer-LB">LB 2022</footer>
<footer id="footer-photo">all images courtesy of Tangerine Newt</footer> --}}