* {
    box-sizing: border-box;
    margin: 0;
    font-weight: 300;
}

body {
    background-color: rgba(216, 180, 34, 255);
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - intro page */

#intro-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#intro-picture {
    width: 100vw;
    overflow: hidden;
}

#intro-box {
    border: solid 3px black;
    width: 720px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 280px;
    background-color: rgba(255, 255, 255, 0.65);
}

#intro-title {
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    color: black;
}

#intro-subtitle {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    margin-top: 2px;
}

#intro-link {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

#intro-link:hover {
    color: orangered;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - register page */

#register-page {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(
        rgba(237, 205, 84, 255),
        rgba(240, 207, 91, 255),
        rgba(239, 200, 79, 255),
        rgba(230, 189, 63, 255)
    );
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

#register-picture {
    width: 50vw;
}

#register-info {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#register-title {
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    color: black;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 1vh;
}

#register-argument {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 2vh;
}

#login-sentence {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: black;
    text-align: center;
    margin-bottom: 10vh;
}

#login-link {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    text-decoration: none;
    font-weight: 400;
    color: black;
}

#login-link:hover {
    color: orangered;
}

#register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reg-label-first {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: black;
    margin-bottom: 6px;
}

#reg-label-last {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: black;
    margin-bottom: 6px;
}

#reg-label-email {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: black;
    margin-bottom: 6px;
}

#reg-label-password {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: black;
    margin-bottom: 6px;
}

#regFirst {
    width: 170px;
    height: 30px;
    border: black solid 2px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 18px;
}

#regLast {
    width: 170px;
    height: 30px;
    border: black solid 2px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 18px;
}

#regEmail {
    width: 170px;
    height: 30px;
    border: black solid 2px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 18px;
}

#regPassword {
    width: 170px;
    height: 30px;
    border: black solid 2px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 18px;
}

#reg-submit {
    width: 100px;
    height: 30px;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 40px;
    margin-top: 15px;
}

#regError {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: red;
    text-align: center;
    margin-bottom: 15px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - profile page */

#profile-page {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(
        rgba(234, 202, 79, 255),
        rgba(241, 215, 105, 255),
        rgba(242, 216, 105, 255),
        rgba(238, 208, 88, 255),
        rgba(232, 197, 69, 255),
        rgba(227, 190, 57, 255),
        rgba(220, 182, 47, 255)
    );
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

#profile-picture {
    width: 50vw;
}

#profile-info {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#profile-title {
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    color: black;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 1vh;
}

#profile-argument {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 15vh;
}

#profile-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile-label-age {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: black;
    margin-bottom: 6px;
}

#profile-label-city {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: black;
    margin-bottom: 6px;
}

#profile-label-homepage {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: black;
    margin-bottom: 6px;
}

#profileAge {
    width: 170px;
    height: 30px;
    border: black solid 2px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 18px;
}

#profileCity {
    width: 170px;
    height: 30px;
    border: black solid 2px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 18px;
}

#profileHomepage {
    width: 170px;
    height: 30px;
    border: black solid 2px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 18px;
}

#profile-submit {
    width: 112px;
    height: 30px;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 40px;
    margin-top: 15px;
}

#profileError {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: red;
    text-align: center;
    margin-bottom: 15px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - profile-edit page */

#profile-page {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(
        rgba(234, 202, 79, 255),
        rgba(241, 215, 105, 255),
        rgba(242, 216, 105, 255),
        rgba(238, 208, 88, 255),
        rgba(232, 197, 69, 255),
        rgba(227, 190, 57, 255),
        rgba(220, 182, 47, 255)
    );
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

#profile-picture {
    width: 50vw;
}

#profile-info {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
/* - - - - - - - - -- - - - - - - - - - - - - - - - - - - - - - - - - - profile-edit page */

#profile-edit-page {
    width: 100vw;
    height: 100vh;
    background-color: rgba(180, 228, 214, 255);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

#profile-edit-picture {
    width: 50vw;
}

#profile-edit-info {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#profile-edit-title {
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    color: black;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 4vh;
}

#profile-edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile-edit-label-first {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: black;
    margin-bottom: 6px;
}

#profile-edit-label-last {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: black;
    margin-bottom: 6px;
}

#profile-edit-label-email {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: black;
    margin-bottom: 6px;
}

#profile-edit-label-password {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: black;
    margin-bottom: 6px;
}

#profile-edit-label-age {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: black;
    margin-bottom: 6px;
}

#profile-edit-label-city {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: black;
    margin-bottom: 6px;
}

#profile-edit-label-homepage {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: black;
    margin-bottom: 6px;
}

#profileEditFirst {
    width: 170px;
    height: 30px;
    border: black solid 2px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
}

#profileEditLast {
    width: 170px;
    height: 30px;
    border: black solid 2px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
}

#profileEditEmail {
    width: 170px;
    height: 30px;
    border: black solid 2px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
}

#profileEditPassword {
    width: 170px;
    height: 30px;
    border: black solid 2px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
}

#profileEditAge {
    width: 170px;
    height: 30px;
    border: black solid 2px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
}

#profileEditCity {
    width: 170px;
    height: 30px;
    border: black solid 2px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
}

#profileEditHomepage {
    width: 170px;
    height: 30px;
    border: black solid 2px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
}

#profile-edit-submit {
    width: 112px;
    height: 30px;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 15px;
}

#profile-edit-error {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: red;
    text-align: center;
    margin-bottom: 20px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - login page */

#login-page {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(
        rgba(116, 191, 233, 255),
        rgba(111, 189, 228, 255),
        rgba(96, 188, 237, 255),
        rgba(111, 195, 239, 255),
        rgba(96, 188, 237, 255)
    );
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

#login-picture {
    width: 50vw;
}

#login-info {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#login-title {
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    color: black;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 1vh;
}

#login-argument {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 2vh;
}

#register-sentence {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: black;
    text-align: center;
    margin-bottom: 10vh;
}

#register-link {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-weight: 400;
}

#register-link:hover {
    color: orangered;
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-label-email {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: black;
    margin-bottom: 6px;
}

#loginEmail {
    width: 170px;
    height: 30px;
    border: black solid 2px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 18px;
}

#login-label-password {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: black;
    margin-bottom: 6px;
}

#loginPassword {
    width: 170px;
    height: 30px;
    border: black solid 2px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 18px;
}

#login-submit {
    width: 100px;
    height: 30px;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 40px;
    margin-top: 15px;
}

#loginError {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: orangered;
    text-align: center;
    margin-bottom: 15px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - petition page */

#petition-page {
    width: 100vw;
    height: 100vh;
    background-color: rgba(211, 213, 212, 255);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

#petition-picture {
    width: 50vw;
}

#petition-info {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#petition-title {
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    color: black;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 1vh;
}

#petition-argument {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 20vh;
}

#petition-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-signature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#signature {
    position: absolute;
}

#label-signature {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: black;
    margin-bottom: 6px;
}

#canvas {
    border: black solid 2px;
    background-color: rgba(255, 255, 255, 0.5);
}

#signature {
    display: none;
}

#submit {
    width: 100px;
    height: 30px;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 40px;
    margin-top: 15px;
}

#error {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: orangered;
    text-align: center;
    margin-bottom: 15px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - thanks page */

#thanks-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(235, 235, 171, 255);
}

#thanks-picture {
    height: 50vh;
}

#thanks-box {
    border: solid 3px black;
    width: 650px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#thanks-title {
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    color: black;
}

#thanks-subtitle {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    margin-top: 6px;
}

#signature-counter {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

#signature-counter:hover {
    color: red;
}

#thanks-signature {
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - signers */

/* - - - - - */

/* - - - - - */

#signers-page {
    width: 100vw;
    height: 100vh;
    background-color: rgba(216, 180, 34, 255);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

#signers-picture {
    width: 45vw;
}

#signers-info {
    width: 55vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#signers-box {
    border: solid 3px black;
    width: 740px;
    height: 110px;
    margin-top: 6vh;
    margin-bottom: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#signers-title {
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    color: black;
}

#signers-subtitle {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

#signers-list {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 30px;
}

#city-link {
    color: black;
    text-decoration-line: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 1px;
    white-space: none;
}

#url-link {
    color: black;
    text-decoration-line: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 1px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - logout */

#logout {
    text-decoration: none;
    font-weight: 400;
    color: black;
}

#logout:hover {
    color: orangered;
}

#signers-logout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
    position: absolute;
    top: 50px;
    left: 30px;
}

#signers-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
    position: absolute;
    top: 100px;
    left: 30px;
}

#signers-signature {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
    position: absolute;
    top: 150px;
    left: 30px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - footer */

#footer-photo {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    color: gray;
}

#footer-LB {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    position: fixed;
    bottom: 20px;
    left: 30px;
    color: gray;
}
