* {
    box-sizing: border-box;
    margin: 0;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - intro page */

#intro-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#intro-picture {
    /* background-size: cover; */
    width: 100%;
    height: auto;
    overflow: hidden;
}

#intro-box {
    border: solid 3px black;
    width: 720px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 280px;
    background-color: rgba(255, 255, 255, 0.65);
}

#intro-title {
    /* font-family: "Quicksand", sans-serif; */
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    color: black;
}

#intro-subtitle {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    margin-top: 6px;
}

#intro-line-1 {
    position: absolute;
    top: 370px;
    left: 390px;
    width: 170px;
    border: 1px solid black;
    color: black;
}

#intro-line-2 {
    position: absolute;
    top: 370px;
    left: 880px;
    width: 170px;
    border: 1px solid black;
    color: black;
}

#intro-link {
    text-decoration: none;
    color: black;
}

#intro-link:hover {
    color: orangered;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - register page */

#register-title {
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    color: black;
    position: absolute;
    top: 90px;
    left: 160px;
}

#register-page {
    height: 100%;
    background-color: rgba(211, 213, 212, 255);
}

#register-picture {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 800px;
}

#register-form {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 100px;
    bottom: 130px;
    width: 600px;
}

#reg-label-first {
    margin-bottom: 10px;
}

#reg-label-last {
    margin-bottom: 10px;
}

#reg-label-email {
    margin-bottom: 10px;
}

#reg-label-password {
    margin-bottom: 10px;
}

#regFirst {
    width: 170px;
    height: 30px;
    border: black solid 2px;
    background-color: rgba(255, 255, 255, 0.5);
}

#regLast {
    width: 170px;
    height: 30px;
    border: black solid 2px;
    background-color: rgba(255, 255, 255, 0.5);
}

#regEmail {
    width: 170px;
    height: 30px;
    border: black solid 2px;
    background-color: rgba(255, 255, 255, 0.5);
}

#regPassword {
    width: 170px;
    height: 30px;
    border: black solid 2px;
    background-color: rgba(255, 255, 255, 0.5);
}

#reg-submit {
    width: 100px;
    height: 30px;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    position: absolute;
    top: 220px;
    left: 250px;
}

#regError {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    position: absolute;
    top: 310px;
    left: 290px;
    color: orangered;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - login page */

#login-title {
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    color: black;
    position: absolute;
    top: 90px;
    left: 160px;
}

#login-page {
    height: 100%;
    background-color: rgba(211, 213, 212, 255);
}

#login-picture {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 800px;
}

#login-form {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 100px;
    bottom: 130px;
    width: 600px;
}

#login-label-email {
    margin-bottom: 10px;
}

#loginEmail {
    width: 170px;
    height: 30px;
    border: black solid 2px;
    background-color: rgba(255, 255, 255, 0.5);
}

#login-label-password {
    margin-bottom: 10px;
}

#loginPassword {
    width: 170px;
    height: 30px;
    border: black solid 2px;
    background-color: rgba(255, 255, 255, 0.5);
}

#login-submit {
    width: 100px;
    height: 30px;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    position: absolute;
    top: 220px;
    left: 250px;
}

#loginError {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    position: absolute;
    top: 310px;
    left: 290px;
    color: orangered;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - petition page */

#petition-title {
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    color: black;
    position: absolute;
    top: 90px;
    left: 160px;
}

#petition-argument {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 30px;
    margin-top: 6px;
    position: absolute;
    width: 600px;
    top: 160px;
    left: 100px;
    text-align: center;
}

#petition-page {
    height: 100%;
    background-color: rgba(211, 213, 212, 255);
}

#petition-picture {
    /* background-size: cover; */
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 800px;
}

#petition-form {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 100px;
    bottom: 130px;
    width: 600px;
}

#form-signature {
    display: flex;
    flex-direction: row;
}

#signature {
    position: absolute;
}

#label-signature {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: black;
    position: absolute;
    top: -35px;
    left: 170px;
}

#canvas {
    border: black solid 2px;
    background-color: rgba(255, 255, 255, 0.5);
}

#signature {
    display: none;
}

#submit {
    width: 100px;
    height: 30px;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    position: absolute;
    top: 220px;
    left: 250px;
}

#error {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    position: absolute;
    top: 310px;
    left: 290px;
    color: orangered;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - thanks page */

#thanks-page {
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: rgba(235, 235, 171, 255);
}

#thanks-picture {
    /* background-size: cover; */
    position: absolute;
    top: 0px;
    left: 465px;
    width: 500px;
}

#thanks-box {
    border: solid 3px black;
    width: 720px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 450px;
}

#thanks-title {
    /* font-family: "Quicksand", sans-serif; */
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    color: black;
}

#thanks-subtitle {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    margin-top: 6px;
}

#signature-counter {
    text-decoration: none;
    color: black;
}

#signature-counter:hover {
    color: red;
}

#thanks-line-1 {
    position: absolute;
    top: 490px;
    left: 360px;
    width: 185px;
    border: 1px solid black;
    color: black;
}

#thanks-line-2 {
    position: absolute;
    top: 490px;
    left: 895px;
    width: 185px;
    border: 1px solid black;
    color: black;
}

#thanks-signature {
    position: absolute;
    bottom: -210px;
    left: 80px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - signers */

#signers-page {
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: rgba(216, 180, 34, 255);
}

#signers-picture {
    /* background-size: cover; */
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 800px;
}

#signers-box {
    border: solid 3px black;
    width: 740px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    right: 50px;
}

#signers-title {
    /* font-family: "Quicksand", sans-serif; */
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    color: black;
}

#signers-subtitle {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

#signers-list {
    position: absolute;
    top: 200px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 30px;
}

#signers-line-1 {
    position: absolute;
    top: 137px;
    left: 680px;
    width: 170px;
    border: 1px solid black;
    color: black;
}

#signers-line-2 {
    position: absolute;
    top: 137px;
    left: 1192px;
    width: 170px;
    border: 1px solid black;
    color: black;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - footer */

#footer-photo {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    position: absolute;
    bottom: 20px;
    right: 30px;
    color: gray;
}

#footer-LB {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    position: absolute;
    bottom: 20px;
    left: 30px;
    color: gray;
}
