* {
    box-sizing: border-box;
    margin: 0;
    font-weight: 300;
}

body {
    background-color: rgba(216, 180, 34, 255);
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - intro page */

#intro-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#intro-picture {
    /* background-size: cover; */
    width: 100%;
}

#intro-box {
    border: solid 3px black;
    width: 720px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 280px;
    background-color: rgba(255, 255, 255, 0.65);
}

#intro-title {
    /* font-family: "Quicksand", sans-serif; */
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    color: black;
}

#intro-subtitle {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    margin-top: 2px;
}

/* #intro-line-1 {
    position: absolute;
    top: 370px;
    left: 880px;
    width: 170px;
    border: 1px solid black;
    color: black;
}

#intro-line-2 {
    position: absolute;
    top: 370px;
    left: 880px;
    width: 170px;
    border: 1px solid black;
    color: black;
} */

#intro-link {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

#intro-link:hover {
    color: orangered;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - register page */

#register-title {
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    color: black;
    position: absolute;
    top: 90px;
    left: 155px;
    text-align: center;
}

#register-argument {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 30px;
    margin-top: 6px;
    position: absolute;
    width: 600px;
    top: 160px;
    left: 90px;
    text-align: center;
}

#register-page {
    height: 100%;
    background-image: linear-gradient(
        rgba(237, 205, 84, 255),
        rgba(240, 207, 91, 255),
        rgba(239, 200, 79, 255),
        rgba(230, 189, 63, 255)
    );
}

#register-picture {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 100%;
}

#register-form {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 100px;
    bottom: 130px;
    width: 600px;
}

#reg-label-first {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: black;
    position: absolute;
    bottom: 135px;
    left: 50px;
}

#reg-label-last {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: black;
    position: absolute;
    bottom: 135px;
    left: 350px;
}

#reg-label-email {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: black;
    position: absolute;
    bottom: 55px;
    left: 50px;
}

#reg-label-password {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: black;
    position: absolute;
    bottom: 55px;
    left: 350px;
}

#regFirst {
    width: 170px;
    height: 30px;
    border: black solid 2px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 100px;
    left: 50px;
}

#regLast {
    width: 170px;
    height: 30px;
    border: black solid 2px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 100px;
    left: 350px;
}

#regEmail {
    width: 170px;
    height: 30px;
    border: black solid 2px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 20px;
    left: 50px;
}

#regPassword {
    width: 170px;
    height: 30px;
    border: black solid 2px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 20px;
    left: 350px;
}

#reg-submit {
    width: 100px;
    height: 30px;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 15px;
    position: absolute;
    top: 50px;
    left: 235px;
}

#regError {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    position: absolute;
    top: 310px;
    left: 270px;
    color: red;
}

#login-sentence {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: black;
    position: absolute;
    top: 0px;
    left: 65px;
}

#login-link {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    text-decoration: none;
    font-weight: 400;
    color: black;
}

#login-link:hover {
    color: orangered;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - profile page */

#profile-title {
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    color: black;
    position: absolute;
    top: 90px;
    left: 155px;
    text-align: center;
}

#profile-argument {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 30px;
    margin-top: 6px;
    position: absolute;
    width: 600px;
    top: 160px;
    left: 90px;
    text-align: center;
}

#profile-page {
    height: 100%;
    background-image: linear-gradient(
        rgba(234, 202, 79, 255),
        rgba(241, 215, 105, 255),
        rgba(242, 216, 105, 255),
        rgba(238, 208, 88, 255),
        rgba(232, 197, 69, 255),
        rgba(227, 190, 57, 255),
        rgba(220, 182, 47, 255)
    );
}

#profile-picture {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 100%;
}

#profile-form {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 100px;
    bottom: 130px;
    width: 600px;
}

#profile-label-age {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: black;
    position: absolute;
    bottom: 135px;
    left: 50px;
}

#profile-label-city {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: black;
    position: absolute;
    bottom: 135px;
    left: 350px;
}

#profile-label-homepage {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: black;
    position: absolute;
    bottom: 55px;
    left: 50px;
}

#profileAge {
    width: 170px;
    height: 30px;
    border: black solid 2px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 100px;
    left: 50px;
}

#profileCity {
    width: 170px;
    height: 30px;
    border: black solid 2px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 100px;
    left: 350px;
}

#profileHomepage {
    width: 170px;
    height: 30px;
    border: black solid 2px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 20px;
    left: 50px;
}

#profile-submit {
    width: 130px;
    height: 30px;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 15px;
    position: absolute;
    top: 50px;
    left: 220px;
}

#profileError {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    position: absolute;
    top: 310px;
    left: 270px;
    color: red;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - profile-edit page */

#profile-edit-title {
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    color: black;
    position: absolute;
    top: 90px;
    left: 260px;
    text-align: center;
}

#profile-edit-argument {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 30px;
    margin-top: 6px;
    position: absolute;
    width: 600px;
    top: 160px;
    left: 90px;
    text-align: center;
}

#profile-edit-page {
    height: 100%;
    background-color: rgba(180, 228, 214, 255);
}

#profile-edit-picture {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 100%;
}

#profile-edit-form {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 100px;
    bottom: 130px;
    width: 600px;
}

#profile-edit-label-first {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: black;
    position: absolute;
    bottom: 295px;
    left: 50px;
}

#profile-edit-label-last {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: black;
    position: absolute;
    bottom: 295px;
    left: 350px;
}

#profile-edit-label-email {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: black;
    position: absolute;
    bottom: 215px;
    left: 50px;
}

#profile-edit-label-password {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: black;
    position: absolute;
    bottom: 215px;
    left: 350px;
}

#profile-edit-label-age {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: black;
    position: absolute;
    bottom: 135px;
    left: 50px;
}

#profile-edit-label-city {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: black;
    position: absolute;
    bottom: 135px;
    left: 350px;
}

#profile-edit-label-homepage {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: black;
    position: absolute;
    bottom: 55px;
    left: 50px;
}

#profileEditFirst {
    width: 170px;
    height: 30px;
    border: black solid 2px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 260px;
    left: 50px;
}

#profileEditLast {
    width: 170px;
    height: 30px;
    border: black solid 2px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 260px;
    left: 350px;
}

#profileEditEmail {
    width: 170px;
    height: 30px;
    border: black solid 2px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 180px;
    left: 50px;
}

#profileEditPassword {
    width: 170px;
    height: 30px;
    border: black solid 2px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 180px;
    left: 350px;
}

#profileEditAge {
    width: 170px;
    height: 30px;
    border: black solid 2px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 100px;
    left: 50px;
}

#profileEditCity {
    width: 170px;
    height: 30px;
    border: black solid 2px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 100px;
    left: 350px;
}

#profileEditHomepage {
    width: 170px;
    height: 30px;
    border: black solid 2px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 20px;
    left: 50px;
}

#profile-edit-submit {
    width: 100px;
    height: 30px;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 15px;
    position: absolute;
    top: 50px;
    left: 240px;
}

#profileError {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    position: absolute;
    top: 310px;
    left: 270px;
    color: red;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - login page */

#login-title {
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    color: black;
    position: absolute;
    top: 90px;
    left: 250px;
}

#login-argument {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 30px;
    margin-top: 6px;
    position: absolute;
    width: 600px;
    top: 160px;
    left: 100px;
    text-align: center;
}

#login-page {
    height: 100%;
    background-image: linear-gradient(
        rgba(116, 191, 233, 255),
        rgba(111, 189, 228, 255),
        rgba(96, 188, 237, 255),
        rgba(111, 195, 239, 255),
        rgba(96, 188, 237, 255)
    );
}

#login-picture {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 100%;
}

#login-form {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 100px;
    bottom: 130px;
    width: 600px;
}

#login-label-email {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: black;
    position: absolute;
    left: 120px;
    bottom: 65px;
}

#loginEmail {
    width: 170px;
    height: 30px;
    border: black solid 2px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 120px;
    bottom: 30px;
}

#login-label-password {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: black;
    position: absolute;
    left: 320px;
    bottom: 65px;
}

#loginPassword {
    width: 170px;
    height: 30px;
    border: black solid 2px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 320px;
    bottom: 30px;
}

#login-submit {
    width: 100px;
    height: 30px;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    position: absolute;
    top: 50px;
    left: 255px;
}

#register-sentence {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: black;
    position: absolute;
    top: -10px;
    left: 75px;
}

#register-link {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: 400;
}

#register-link:hover {
    color: orangered;
}

#loginError {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    position: absolute;
    text-align: center;
    top: 330px;
    left: 290px;
    color: orangered;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - petition page */

#petition-title {
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    color: black;
    position: absolute;
    top: 90px;
    left: 160px;
}

#petition-argument {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 30px;
    margin-top: 6px;
    position: absolute;
    width: 600px;
    top: 160px;
    left: 100px;
    text-align: center;
}

#petition-page {
    height: 100%;
    background-color: rgba(211, 213, 212, 255);
}

#petition-picture {
    /* background-size: cover; */
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 100%;
}

#petition-form {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 100px;
    bottom: 130px;
    width: 600px;
}

#form-signature {
    display: flex;
    flex-direction: row;
}

#signature {
    position: absolute;
}

#label-signature {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: black;
    position: absolute;
    top: -35px;
    left: 190px;
}

#canvas {
    border: black solid 2px;
    background-color: rgba(255, 255, 255, 0.5);
}

#signature {
    display: none;
}

#submit {
    width: 100px;
    height: 30px;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 15px;
    position: absolute;
    top: 220px;
    left: 250px;
}

#error {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    position: absolute;
    top: 310px;
    left: 290px;
    color: orangered;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - thanks page */

#thanks-page {
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: rgba(235, 235, 171, 255);
}

#thanks-picture {
    /* background-size: cover; */
    /* position: relative;
    top: 0px;
    left: 465px;
    width: 500px; */
    text-align: center;
    display: inline-block;
    height: 600px;
    width: auto;
}

#thanks-box {
    border: solid 3px black;
    width: 650px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 500px;
}

#thanks-title {
    /* font-family: "Quicksand", sans-serif; */
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    color: black;
}

#thanks-subtitle {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    margin-top: 6px;
}

#signature-counter {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

#signature-counter:hover {
    color: red;
}

/* #thanks-line-1 {
    position: absolute;
    top: 490px;
    left: 360px;
    width: 185px;
    border: 1px solid black;
    color: black;
}

#thanks-line-2 {
    position: absolute;
    top: 490px;
    left: 895px;
    width: 185px;
    border: 1px solid black;
    color: black;
} */

#thanks-signature {
    position: absolute;
    bottom: -200px;
    left: 30px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - signers */

#signers-page {
    /* display: flex;
    justify-content: center; */
    background-color: rgba(216, 180, 34, 255);
}

#signers-picture {
    /* background-size: cover; */
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 100%;
}
#signers-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 740px;
}

#signers-box {
    border: solid 3px black;
    width: 740px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    right: 50px;
}

#signers-title {
    /* font-family: "Quicksand", sans-serif; */
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    color: black;
}

#signers-subtitle {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

#signers-list {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 30px;
    position: absolute;
    top: 200px;
    left: 0px;
}

/* #signers-line-1 {
    position: absolute;
    top: 137px;
    left: 680px;
    width: 170px;
    border: 1px solid black;
    color: black;
}

#signers-line-2 {
    position: absolute;
    top: 137px;
    left: 1192px;
    width: 170px;
    border: 1px solid black;
    color: black;
} */

#city-link {
    color: black;
    text-decoration-line: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 1px;
    white-space: none;
}

#url-link {
    color: black;
    text-decoration-line: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 1px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - logout */

#logout {
    text-decoration: none;
    font-weight: 400;
    color: black;
}

#logout:hover {
    color: orangered;
}

#signers-logout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    /* border: 1px black solid; */
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
    position: absolute;
    top: 50px;
    left: 30px;
}

#signers-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    /* border: 1px black solid; */
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
    position: absolute;
    top: 100px;
    left: 30px;
}

#signers-signature {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
    position: absolute;
    top: 150px;
    left: 30px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - footer */

#footer-photo {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    color: gray;
}

#footer-LB {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    position: fixed;
    bottom: 20px;
    left: 30px;
    color: gray;
}
